livekit
livekit-agents
livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-assemblyai
livekit-plugins-cartesia
livekit-plugins-google
python-dotenv
pydantic
pydantic-settings
firebase-admin
qdrant-client
sentence-transformers
fastapi
uvicorn[standard]
aiohttp
python-multipart